* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* SECTION-1 BANNER  */
.banner {
    background: #fceef1;
    height: 100vh;
    width: 100%;
}

.head-inner {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
    font-family: Lato;
    padding-top: 40px;
}

.header-text {
    width: 45%;
}

.header-text h2 {
    color: #272727;
    font-size: 57px;
    font-weight: bold;
}

.header-text p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    line-height: 23px;
    margin-top: 25px;
}

.header-image img {
    width: 435px;
    height: 580px;
}

.btn-primary {

    background: #E55473;
    border: 0;
    border-radius: 8px;
    padding: 13px 30px;
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
    ;
}

/* SECTION-1  */
.section-1-content {
    text-align: center;
    width: 40%;
    margin: auto;
    padding-top: 100px;
}

.section-1-content h3 {
    color: #272727;
    font-size: 32px;
    margin-bottom: 10px;
}

.section-1-content p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}

/* SECTION 2  */
.section-2 {
    /* width:80%; */
    display: flex;
    gap: 30px;
    justify-content: center;
    /* margin:auto; */
}

.section-2 .card1 {
    width: 320px;
    height: 380px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.section-2 .card2 {
    width: 320px;
    height: 380px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.section-2 .card3 {
    width: 320px;
    height: 380px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.sec2-image {
    width: 263px;
    height: 320px;
    padding-left: 40px;
    margin-top: 60px
}
.wing-wide{
    width:300px;
}

.image-card a {
    color: #272727;
    font-size: 17px;
    text-decoration: underline;
    margin-left:100px;
    font-weight: bold;
}
.image-card figcaption{
    margin-top: 20px;;
}

/* SECTION 3  */

.section-3 {
    margin-top: 140px;
    display: flex;
    gap: 35px;
    justify-content: center;
    text-align: center;
    margin-bottom:150px;
}

.section-3 p {
    color: rgba(39, 39, 39, 0.80);
    font-size: 17px;
    margin-top: 10px;
    font-weight:bold;
}

/* SECCTION-SP  */ 
.section-sp .wall{
    width: 80%;
    margin:auto;
    height: 400px;
    background: #bbeecf;
    display: flex;
    justify-content: center;
    gap:40px;
    padding-top:20px;
}
.section-sp .wall2{

    display: flex;
    justify-content: center;
    gap:40px;
    margin-top:-200px;
    margin-bottom:25px;
}
.circle{
    width:180px;
    height:180px;
    border-radius: 90px;
    background-color: #808881;
}
.circle-btn{
    padding:0px 66px;
    background-color: #808881;
    border:none;
    color:rgb(187, 0, 0);
    display:block;
    margin-top:-18px;
    margin-left:px;
}

.circle img{
    z-index:1000;
    width:170px;
    height:170px;
    border-radius:83px;
}
.section-sp .wall-title{
    width: 30%;
    margin:auto;
    height: 100px;
    background: #d246ee;
    border-radius: 0px 0px 300px 300px;
    color:rgb(255, 255, 255);
}
.wall-title h2{
    text-align: center;
    padding:20px;
}
.wall-title img{
    width:245px;
    margin-top:-71px;
    margin-left:77px;
    border-radius: 0px 0px 25px 25px;
}

/* SECTION 4  */

.section-4 {
    height: 100vh;
    align-items: center;
    margin-top: 90px;
    display: flex;
    gap: 35px;
    justify-content: center;
    text-align: center;
}

.sec4-info {
    width: 40%;
}

.sec4-info h2 {
    color: #272727;
    font-size: 30px;


}

.sec4-info .off {
    color: #E55473;
}

.sec4-info p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    margin-top: 20px;
}

/* SECTION 5  */
.section-5 {
    height: 100vh;
    align-items: center;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.sec5-info p {
    width: 55%;
    margin: auto;
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    margin-top: 35px;
}

.section-5 .sec-5-image {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.sec-5-image img {
    width: 250px;
}

/* SECTION-6  */

.section-6 {
    width: 80%;
    margin: auto;
}

/* .sec6-image img{
   position:relative;
   width:80%;
   margin-left:10%
} */
.sec6-info {

    text-align: center;
    background-image: url('asset/subs_img.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1070px;
    height: 449px;
}

.sec6-info h2 {
    color: #272727;
    font-size: 38px;
    padding-top: 100px;
}

.sec6-info p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    margin-top: 10px;
}

.sec6-info input {
    width: 500px;
    height: 48px;
    border-radius: 8px;
    border: 0px;
    background: #FFF;

}

.sec6-info ::placeholder {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    padding: 20px;

}




/* FOOTER  */
footer {
    display: flex;
    margin-top: 30px;
    width: 100%;
    height: 300px;
    background: #111010;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer h2 {
    color: #fff;
    margin-bottom: 20px;
    ;
}

.foot-flower {
    color: #E55473;
}


footer p {
    color: #fff;
    font-size: 15px;
    width: 60%;
    margin: auto;
}

.foot-rights {
    color: rgba(255, 255, 255, 0.40);
    padding-top: 20px;
}